**/_build/
**/_autosummary/
**/ai_repo.egg-info/
**/data/
**/.claude/
**/.ipynb_checkpoints/
**/.mypy_cache/
**/*.pyc
**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.vscode/
WANDB_KEY.txt
projects/haptic_pred/
CLAUDE.md
